html,body{
    width:100%;
    height:100%;
    margin:0;
    padding: 0;
}
a{
    all: unset;
    transition: .2s all;
    cursor:pointer;
}
 nav{
     position: fixed;
     top: 0;
     left: 0;
     width:100%;
     height:7%;
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-size: 1.5em;
}
 .navbar__brand{
     display: flex;
     align-items: center;
     margin-left: 10px;
}
 .navbar__brand *{
     cursor: pointer;
}
 .navbar__brand__menu{
     margin-right: 10px;
     cursor: pointer;
}
 .navbar__menu{
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 100%;
     min-width: 20%;
}
 .navbar__menu li{
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
     min-width: 30%;
     transition: .2s all;
     cursor: pointer;
}
 .navbar__actions{
     min-width: 10%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-right: 10px;
}
 .navbar__actions i, .navbar__brand__menu{
     cursor: pointer;
     transition:.2s all;
     padding: 10px;
}
 .container{
     width: 50%;
     min-height: 50%;
     margin-right: auto;
     margin-left: auto;
     margin-top: 7%;
     margin-bottom: 40px;
     padding: 5em;
     outline: none;
     line-height:1.5;
     font-size: 1.2em;
}
.container p{
     text-align: justify;
}
.overlay{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 999999999;
    display: none;
}
.bg{
   background-color: #454545;
}
